<!-- /view/partials/navbar.Handlebars -->


<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="navbar-brand" href="/">Reddit</a>
        </div>
    </div>
</nav>
